.img{
  
     height:50%;
     width: 100%;
     margin-top: 100px;
     z-index: -1;
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.img2{
    width: 35%;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  .yelken{
    width: 80%;
  height: 80%;
  display: block;
  margin:auto
  }
 
  .yazi{
      color:rgba(245, 245, 245, 0.863);
      text-align: center;
      align-items: center;
      font-size: medium;
      width: 63%;
      float: right;
      padding-right: 75px;
      padding-top: 65px;
  }
  .yazi1{
    color:rgba(245, 245, 245, 0.863);
    text-align: center;
    font-size: large;
  }
  .giris{
    color:rgba(245, 245, 245, 0.863);
    text-align: center;
    align-items: center;
    font-size: medium;
    
  }
  body{
      background:#192226 !important;
    }
    
    .navbar-inverse{
      background:#222B31 !important;
      border-bottom:4px solid #EE445F !important;
    }
    
    .navbar-brand{
      font:12px Lato !important;
      text-transform:uppercase;
      color:#FFF !important;
      letter-spacing:2px;
      margin-top:2px;
    }
    
    .nav{
      margin-bottom:0px;
      a{
        font:500 11px Lato;
        letter-spacing:2px;
        padding:16px !important;
        color:#a3bfc6 !important;
        text-transform:uppercase;
        position:relative;
        z-index:1000;
      }
      a:hover{
        color:#FFF !important;
  
      }
      li{
        position:relative;
      }
    }
    
    .navbar-inverse .navbar-toggle{
      border:none;
    }
    
    .navbar-collapse{
      box-shadow:none !important;
      border:none !important;
    }
    
    .navbar-inverse .navbar-toggle:hover{
      background:transparent !important;
    }
    
    .navbar-inverse .navbar-toggle:focus{
      background:transparent !important;
    }
    
    .navbar-inverse .navbar-toggle:active{
      background:transparent !important;
    }
    
    .icon-bar{
      background:#a3bfc6 !important;
    }
    
    .hover{
      display:block;
      position:absolute;
      width:0%;
      height:100%;
      top:0px;
      left:0px;
      background:#EE445F !important;
      z-index:0;
      opacity:0;
    }
    .ilkBaslik{
      text-align: center;
      color:black;
      font-size:3cm;
      padding-top:100px;
      opacity: 0.9;
    }
    
    @media (max-width: 767px) {
    .nav{
      padding-bottom:20px;
      a{
        padding:12px !important;
      }
    }
    }
    
    @media (max-width: 480px) {
      .nav{
        padding-bottom:20px;
      }
      .ilkBaslik{
        padding-top:0px;
      }
          
      }
    